@model YuanNewWebsite.VO.LoginChangePwd

@{
    ViewBag.Title = "ChangePassword";
}

<h2>變更管理者密碼</h2>

@{
    Html.RenderPartial("Menu");
}

@using (Html.BeginForm("ChangePassword", "ErNetAdmin")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="text-info">變更管理者密碼</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.OriginalPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            @*<span class="control-label col-md-2">舊密碼</span>*@
            <div class="col-md-10">
                @Html.PasswordFor(model => model.OriginalPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OriginalPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            @*<span class="control-label col-md-2">新密碼</span>*@
            <div class="col-md-10">
                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <span class="control-label col-md-2">確認密碼</span>
            <div class="col-md-10">
                @Html.PasswordFor(model => model.NewPasswordConfirm, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewPasswordConfirm, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationMessage("error", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="確認修改" class="btn btn-default" />
            </div>
        </div>
    </div>
}
